.game__info {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
  position: relative;
}

@media (max-width: 1280px) {
  .game__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}